
    .service{
      height: 25rem;
      background-image: url("/main/card/02.jpg");
    }
    .service-body{
      display: flex;
      width: 60rem;
      margin: 0 auto;
      flex-direction: column;
    } 
    .service > .service-body{
      color: azure;
    }
    .service > .service-body > h1{
      padding-top: 7rem ;
      font-weight:bold;  
    } 
    .service > .service-body > span{
      padding-top: 4rem ;
    }
  
    .service2 > .service-body > .service-body-hand{
      padding: 2rem 2rem;
    }

    /* .service-body-body .el-row{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between !important; 
      background-color: aqua;
    }
    .service-body-body .el-row .el-col{
      margin-left: 0 !important;
    }
*/
.service-body-bodyproduct{
      display: flex;
      flex-wrap: wrap ;  
      justify-content: space-between;
      margin-bottom: 2rem;
      margin-left: 2rem
    }
    .service-body-bodyproduct > .bodyproduct{
      width: 80%;
      height: 20rem;
      text-align: center;  
      box-shadow: 5px 5px 10px 5px #EDEDED; 
      margin-top: 5rem;
      font-size: 0.8rem;
    }

    @media (orientation:portrait)  {
      .service{
      height: 15rem;
    }
      .service-body{
      display: flex;
      width: auto  ;
      margin: 0 auto;
      flex-direction: column;
      font-size: 0.6rem;
    } 
    .service > .service-body > h1{
      padding: 7rem 0rem 0rem 2rem;
      font-weight:bold;  
    } 





  }
    

  
   
    